# SparkNow Cluster configuration
cluster_prefix = "{{cluster_prefix}}-sparknow"
SparkNow_image_name = "SparkNow"
keypair_name = "{{cluster_prefix}}-keypair"
floating_ip_pool = "{{floating_ip_pool}}"
master_flavor_name = "{{spark_master_flavor_name}}"
worker_flavor_name = "{{spark_worker_flavor_name}}"
worker_count = "{{spark_worker_count}}"
worker_volume_size = "{{spark_worker_volume_size}}"
master_volume_size = "{{spark_master_volume_size}}"
network_name = "{{cluster_prefix}}-network"
