[submodule "KubeNow"]
	path = KubeNow
	url = https://github.com/kubenow/KubeNow.git
[submodule "SparkNow"]
	path = SparkNow
	url = https://github.com/mcapuccini/SparkNow.git
[submodule "container-jupyter/MTBLS233-notebooks"]
	path = container-jupyter/MTBLS233-notebooks
	url = git@github.com:phnmnl/MTBLS233-notebooks.git
