cluster_prefix = "{{cluster_prefix}}"
KuberNow_image = "mtbls233"
ssh_key = "{{playbook_dir}}/vre.key.pub"
kubeadm_token = "{{kubeadm_token}}"
floating_ip_pool = "{{floating_ip_pool}}"
external_network_uuid = "{{external_network_uuid}}"
master_flavor = "{{master_flavor}}"
node_count = "{{node_count}}"
node_flavor = "{{node_flavor}}"
edge_count = "{{edge_count}}"
edge_flavor = "{{edge_flavor}}"
